@import "tailwindcss";

@theme {
  --accent: oklch(0.6027 0.2264 285.39);
}

@layer base {
  * {
    @apply select-none touch-manipulation lowercase;
  }

  body {
    @apply bg-black font-medium text-white;
    @apply font-(--fira-code);
  }

  h1 {
    @apply font-bold text-xl pointer-events-none;
  }

  img {
    @apply pointer-events-none;
  }

  button {
    @apply bg-white text-black px-3 py-1 pb-1.5 cursor-pointer rounded-lg;
  }

  input[type="text"] {
    @apply bg-white text-black w-full border px-3 py-2 pb-2.5 rounded-lg;
  }
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
  input[type="search"]::-moz-search-clear {
    display: none;
  }
  input[type="search"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
